{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Kartu</title>
    <link rel="stylesheet" href="{% static 'css/card.css' %}"/>
  </head>

  <body>
  <div class="container">
    <nav>
      <div class="grup">
        <div class="logo"><a href="../">Bestie4eva</a></div>
        <div class="menu">
          <ul>
            <li><a href="../add_note">Tulis</a></li>
            <li><a href="">Kartu</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="text">
      <h1>Halo!</h1>
      <h2>Ini Kartu Pesan-Pesan yang Sudah Dikirimkan</h2>
    </div>
    <div class="grid">
    {% if notes %} 
        {% for note in notes %}
          
            <div class="card_pesan">
              <p>To: </p>
              <div class="untuk">{{ note.to }}</div>

              <p>From: {{ note.From }}</p>
              <p>Title: {{ note.title }}</p>
              <p>Message: {{ note.message }}</p>
            </div>
          
        {% endfor %}
    {% endif %}
    </div>        
  </body>
</html>
