{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
</head>

<body>
    <div class="container">
        <nav>
          <div class="grup">
            <div class="logo"><a href="../">Bestie4eva</a></div>
            <div class="menu">
              <ul>
                <li><a href="">Tulis</a></li>
                <li><a href="../note_list">Kartu</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="text"><h2>Silakan masukkan pesan yang ingin dikirim</h2></div>
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    
</body>
</html>