{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Bestie4eva</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  </head>

  <body>
  <div class="container">
    <nav>
      <div class="grup">
        <div class="logo">Bestie4eva</div>
        <div class="menu">
          <ul>
            <li><a href="add_note">Tulis</a></li>
            <li><a href="note_list">Kartu</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <center>
    <div class="text">
      <h1>Halo!</h1>
      <h2>Ini adalah pesan keluar masuk</h2>
    </div>
    <table class="tabel-pesan">
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
      </thead>
      {% if notes %} 
		    {% for note in notes %}
        <tr>
			    <td>{{ note.to }}</td>
          <td>{{ note.From }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
		    {% endfor %}
	    {% endif %}
    </table>
  </center>
  </div>
  </body>
</html>
