body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background-color: #EADEB8;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    background-color: white;
}

.grup{
    width: 2000px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: Verdana;
    color: #A09F57;

}

.menu{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    font-weight: bold;
    text-align: center;
    color: #C56824;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: #A09F57;
}

h1 {
    color: wheat;
    font-family: Verdana;
}

h2{
    color: wheat;
    font-family: Verdana;
}

.tabel-pesan{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabel-pesan thead tr{
    background-color: #1b91b5;
    color: bisque;
    text-align: left;
}

