*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #C56824, #A09F57);
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    background-color: beige;
}

.grup{
    width: 2000px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: Verdana;
    color: #A09F57;

}

.menu{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    font-weight: bold;
    text-align: center;
    color: #C56824;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: #A09F57;
}

nav .logo a{
    color: #A09F57;
}

.text {
    color:beige;
    font-family: Verdana;
    font-size: small;
    border-bottom-style: dotted;
    border-width: 2vh;
    border-color: beige;
    padding: 15px;
    text-align: center;
}

.grid{
    margin: 0 auto;
    margin-top: 5vh;
    display: flex; 
}

.card_pesan{
    /*padding: 2px 16px;*/
    background-color: bisque;
    border: 1px solid #C56824;
    padding: 8px;
    border-radius: 12px;
    width: 300px;
    margin: auto;
}

.untuk{
    font-size: 24;
    font-weight: 600;
    margin-top: 16px;
}

p{
    font-size: 14px;
    color: #C56824;
    line-height: 150%;
}

.card_pesan:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}