*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';    
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #C56824, #A09F57);
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    background-color: beige;
}

.grup{
    width: 2000px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: Verdana;
    color: #A09F57;

}

.menu{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    font-weight: bold;
    text-align: center;
    color: #C56824;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: #A09F57;
}

nav .logo a{
    color: #A09F57;
}

.text {
    color:beige;
    font-family: Verdana;
    font-size: small;
    border-bottom-style: dotted;
    border-width: 2vh;
    border-color: beige;
    padding: 15px;
    text-align: center;
}

.form{
    float: left;
    width: 5vh;
    height: 5vh;
    margin: 5vh;
    color: beige;
    font-family: Verdana;
    text-align: center;
    border: 0px solid wheat;
}

