*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';    
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #C56824, #A09F57);
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    background-color: beige;
}

.grup{
    width: 2000px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: Verdana;
    color: #A09F57;

}

.menu{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    font-weight: bold;
    text-align: center;
    color: #C56824;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: #A09F57;
}

.text {
    color:beige;
    font-family: Verdana;
    font-size: small;
    border-bottom-style: dotted;
    border-width: 2vh;
    border-color: beige;
    padding: 15px;
}

.tabel-pesan{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabel-pesan thead tr{
    background-color: #A09F57;
    color: bisque;
    text-align: left;
}
.tabel-pesan tr{
    background-color: bisque;
}

.tabel-pesan th, .tabel-pesan td{
    padding: 12px 15px;
}

.tabel-pesan tbody tr{
    border-bottom: solid #A09F57;
}
